{extend name="iframe" /}
{block name="body"}
<form action="{:request()->url()}" class="layui-form mt30 mr50" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">题型</label>
        <div class="layui-input-inline">
            <select name="questiontype" lay-filter="questiontype">
                <option value="">选择题型</option>
                {foreach name="$type" item="v"}
                <option value="{$v.id}－{$v.mark}" {if condition="isset($data) and $data['questiontype'] eq $v.id" }selected="selected"{/if}>{$v.type_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">题干</label>
        <div class="layui-input-block">
            <textarea class="ckeditor" name="question" id="question">{$data.question|default=""}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide" id="questionselectbox">
        <label class="layui-form-label">选项</label>
        <div class="layui-input-block">
            <textarea class="ckeditor" name="questionselect" id="questionselect">{$data.questionselect|default=""}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide" id="questionselectnumberbox">
        <label class="layui-form-label">选项数量</label>
        <div class="layui-input-inline">
            <select name="questionselectnumber">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4" selected>4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-hide" id="answerbox">
        <label class="layui-form-label">参考答案</label>
        <div class="layui-input-block layui-hide" id="answerbox_1">
            <input type="radio" name="questionanswerSingleSelect" value="A" title="A">
            <input type="radio" name="questionanswerSingleSelect" value="B" title="B">
            <input type="radio" name="questionanswerSingleSelect" value="C" title="C">
            <input type="radio" name="questionanswerSingleSelect" value="D" title="D">
            <input type="radio" name="questionanswerSingleSelect" value="E" title="E">
            <input type="radio" name="questionanswerSingleSelect" value="F" title="F">
            <input type="radio" name="questionanswerSingleSelect" value="G" title="G">
            <input type="radio" name="questionanswerSingleSelect" value="H" title="H">
        </div>
        <div class="layui-input-block layui-hide" id="answerbox_2">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="A" title="A">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="B" title="B">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="C" title="C">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="D" title="D">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="E" title="E">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="F" title="F">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="G" title="G">
            <input type="checkbox" name="questionanswerMultiSelect[]" value="H" title="H">
        </div>
        <div class="layui-input-block layui-hide" id="answerbox_3">
            <input type="radio" name="questionanswerTrueOrfalse" value="1" title="对">
            <input type="radio" name="questionanswerTrueOrfalse" value="0" title="错">
        </div>
        <div class="layui-input-block layui-hide" id="answerbox_4">
            <textarea class="ckeditor" name="questionanswerFillInBlanks" id="questionanswer4"></textarea>
        </div>
        <div class="layui-input-block layui-hide" id="answerbox_5">
            <textarea class="ckeditor" name="questionanswerShortAnswer" id="questionanswer5"></textarea>
        </div>
    </div>
    <div class="layui-form-item" id="questiondescribe_box">
        <label class="layui-form-label">试题解析</label>
        <div class="layui-input-block">
            <textarea class="ckeditor" name="questiondescribe" id="questiondescribe">{$data.questiondescribe|default=""}</textarea>
        </div>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">试题难度</label>
        <div class="layui-input-block">
            <select name="questionlevel">
                <option value="1">易</option>
                <option value="2">中</option>
                <option value="3">难</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item mt30">
        <div class="layui-input-block">
            <button id="timao-btn" class="layui-btn" lay-filter="*" lay-submit="">保存</button>
            <button class="layui-btn layui-btn-primary" type="reset">完成</button>
        </div>
    </div>
    <input type="hidden" name="questioncreatetime" value="{$addtime}">
</form>
{/block}
{block name="js"}
<script src="__LIBS__/ueditor/ueditor.config.js"></script>
<script src="__LIBS__/ueditor/ueditor.all.min.js"></script>
<script src="__LIBS__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__LIBS__/ueditor/kityformula-plugin/addKityFormulaDialog.js"></script>
<script src="__LIBS__/ueditor/kityformula-plugin/getKfContent.js"></script>
<script src="__LIBS__/ueditor/kityformula-plugin/defaultFilterFix.js"></script>
<script>
    UE.getEditor('question',{
        initialFrameHeight:100,
        elementPathEnabled:false,
        wordCount:false,
        scaleEnabled:false,
        toolbars: [['fullscreen', 'source','bold','fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
    });
</script>
<script>
    UE.getEditor('questiondescribe',{
        initialFrameHeight:100,
        elementPathEnabled:false,
        wordCount:false,
        scaleEnabled:false,
        toolbars: [['fullscreen', 'source','bold','fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
    });
</script>
<script>
    layui.use('form', function() {
        form.on('select(questiontype)', function (data) {
            var typemark=data.value;
            if (typemark.indexOf("SingleSelect")>0) {
                $('#questionselectbox').removeClass('layui-hide');
                $('#questionselectnumberbox').removeClass('layui-hide');
                $('#answerbox').removeClass('layui-hide');
                $('#answerbox_1').removeClass('layui-hide');
                $('#answerbox_2').addClass('layui-hide');
                $('#answerbox_3').addClass('layui-hide');
                $('#answerbox_4').addClass('layui-hide');
                $('#answerbox_5').addClass('layui-hide');
                UE.getEditor('questionselect', {
                    initialFrameHeight: 100,
                    elementPathEnabled: false,
                    wordCount: false,
                    scaleEnabled: false,
                    toolbars: [['fullscreen', 'source', 'bold', 'fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
                });
            }
            if (typemark.indexOf("MultiSelect")>0) {
                $('#questionselectbox').removeClass('layui-hide');
                $('#questionselectnumberbox').removeClass('layui-hide');
                $('#answerbox').removeClass('layui-hide');
                $('#answerbox_1').addClass('layui-hide');
                $('#answerbox_2').removeClass('layui-hide');
                $('#answerbox_3').addClass('layui-hide');
                $('#answerbox_4').addClass('layui-hide');
                $('#answerbox_5').addClass('layui-hide');
                UE.getEditor('questionselect', {
                    initialFrameHeight: 100,
                    elementPathEnabled: false,
                    wordCount: false,
                    scaleEnabled: false,
                    toolbars: [['fullscreen', 'source', 'bold', 'fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
                });
            }
            if (typemark.indexOf("FillInBlanks")>0) {
                $('#questionselectbox').addClass('layui-hide');
                $('#questionselectnumberbox').addClass('layui-hide');
                $('#answerbox').removeClass('layui-hide');
                $('#answerbox_1').addClass('layui-hide');
                $('#answerbox_2').addClass('layui-hide');
                $('#answerbox_3').addClass('layui-hide');
                $('#answerbox_4').removeClass('layui-hide');
                $('#answerbox_5').addClass('layui-hide');
                UE.getEditor('questionanswer4', {
                    initialFrameHeight: 100,
                    elementPathEnabled: false,
                    wordCount: false,
                    scaleEnabled: false,
                    toolbars: [['fullscreen', 'source', 'bold', 'fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
                });
            }
            if (typemark.indexOf("TrueOrfalse")>0) {
                $('#questionselectbox').addClass('layui-hide');
                $('#questionselectnumberbox').addClass('layui-hide');
                $('#answerbox').removeClass('layui-hide');
                $('#answerbox_1').addClass('layui-hide');
                $('#answerbox_2').addClass('layui-hide');
                $('#answerbox_3').removeClass('layui-hide');
                $('#answerbox_4').addClass('layui-hide');
                $('#answerbox_5').addClass('layui-hide');
            }
            if (typemark.indexOf("ShortAnswer")>0) {
                $('#questionselectbox').addClass('layui-hide');
                $('#questionselectnumberbox').addClass('layui-hide');
                $('#answerbox').removeClass('layui-hide');
                $('#answerbox_1').addClass('layui-hide');
                $('#answerbox_2').addClass('layui-hide');
                $('#answerbox_3').addClass('layui-hide');
                $('#answerbox_4').addClass('layui-hide');
                $('#answerbox_5').removeClass('layui-hide');
                UE.getEditor('questionanswer5', {
                    initialFrameHeight: 100,
                    elementPathEnabled: false,
                    wordCount: false,
                    scaleEnabled: false,
                    toolbars: [['fullscreen', 'source', 'bold', 'fontsize', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist']]
                });
            }
        });
        form.on('select(questionknowsid)', function(data){
            var parentId=$("#chapterid").val();
            $('#knowledgebox').addClass('layui-hide');
            if(null!= parentId && ""!=parentId){
                $.getJSON("/admin/course/ajaxGetKnowledge",{id:parentId},function(myJSON){
                        var options="";
                        if(myJSON.length>0){
                            $('#knowledgebox').removeClass('layui-hide');
                            options+="<option value=''>==知识点==</option>";
                            for(var i=0;i<myJSON.length;i++){
                                options+="<option value="+myJSON[i].id+">"+myJSON[i].title+"</option>";
                            }
                            $("#knowledge").html(options);
                            form.render('select');
                        }
                    }
                )}
        })
    })
</script>
{/block}