{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-header">手动组卷</div>
    <div class="layui-card-body">
    <form action="{:request()->url()}" class="layui-form" method="post">
        <table class="layui-table layui-form">
            <thead>
                <tr>
                    <th>试卷名称</th>
                    <th style="width:200px;">科目分类</th>
                    <th style="width:100px;">考试时长</th>
                    <th style="width:100px;">试卷总分</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="exam"   placeholder="必填" class="layui-input"></td>
                    <td><select name="examsubject" lay-filter="selectedsubjectid" id="selectedsubjectid">
                            <option value="">全部分类</option>
                            {foreach name="courseCategory" item="v"}
                            <option value="{$v.id}">{$v.cname}</option>
                            {/foreach}
                         </select>
                    </td>
                    <td><input type="text" name="examtime"  placeholder="单位：分钟" class="layui-input"></td>
                    <td><input type="text" name="examscore"  placeholder="必填" class="layui-input"></td>
                </tr>
            </tbody>
        </table>
        <table class="layui-table layui-form mt20" lay-skin="nob">
            <thead>
                <tr>
                    <th style="width:140px;">题型</th>
                    <th style="width:80px;">题数</th>
                    <th style="width:80px;">单题分值</th>
                    <th style="width:80px;">已选	</th>
                    <th style="width:150px;">操作</th>
                    <th>试题说明</th>
                </tr>
            </thead>
            <tbody>
                {foreach name="questiontype" item="v"}
                <tr>
                    <td>{$v.type_name}</td>
                    <td><input type="text" name="questype[{$v.id}][number]"   class="layui-input"  id="iselectallnumber_{$v.id}"></td>
                    <td><input type="text" name="questype[{$v.id}][score]"   class="layui-input" ></td>
                    <td><span id="ialreadyselectnumber_{$v.id}">0</span></td>
                    <td><a href="{:url('admin/exam/questionsSelect',['questiontype'=>$v.id,'questionchapterid'=>$v.id])}" class="layui-btn layui-btn-sm ajax-iframe_noshut select" data-width="800px" data-height="500px">选题</a></td>
                    <td><input type="text" name=questype[{$v.id}][describe] id="describe_{$v.id}"   value="每小题？分，本题共？个小题，共？分" class="layui-input"></td>
                    <input type="hidden" value="" id="iselectquestions_{$v.id}" name="examquestions[{$v.id}][questions]" />
                </tr>
                {/foreach}
                <!--<tr>-->
                    <!--<td>题型排序</td>-->
                    <!--<td colspan="4">-->
                        <!--<div class="layui-btn-group mt20 ml20" id="sortable">-->
                             <!--<a class="layui-btn layui-btn-sm">单选题</a>-->
                             <!--<a class="layui-btn layui-btn-sm">多选题</a>-->
                             <!--<a class="layui-btn layui-btn-sm">填空题</a>-->
                             <!--<a class="layui-btn layui-btn-sm">判断题</a>-->
                             <!--<a class="layui-btn layui-btn-sm">简答题</a>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>拖动进行试题排序</td>-->
                <!--</tr>-->
            </tbody>
        </table>
        <div class="layui-form-item mt20">
            <div class="layui-input-block">
                <button class="layui-btn" lay-filter="*" lay-submit="">保存</button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
            </div>
        </div>
        <input type="hidden" name="addtime" value="{$addtime}"  class="layui-input">
    </form>
    </div>
</div>

{/block}
{block name="js"}
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(function() {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
  });
  </script>
{/block}


