html{background-color:#F2F2F2}
html,body{overflow-x:hidden}
.article-column{line-height:50px}
.article-panel{margin-bottom:15px;border-radius:2px;background-color:#fff;box-shadow:0 1px 2px 0 rgba(0,0,0,.05)}
.layui-container{padding:0}
.article-column ul li{position:relative;display:inline-block;height:50px}
.article-column ul li a{padding:0 20px}
#banner{overflow:hidden}
.article-carousel-item a{position:relative;display:block;color:#ffffff;width:100%;height:100%}
.article-carousel-item a img{width:100%;height:100%;}
.layui-card-header{border-bottom:1px solid #eee;font-size:14px;line-height:42px;height:42px;margin-top:0px}
.layui-card-header .lark-this{display:inline-block;padding:0 10px;border:none;border-radius:0;border-bottom:2px solid #5FB878;color:#009688}
.art-list li{padding:15px 0}
.art-list li + li{border-top:solid 1px #f1f1f1}
.lark-list li{line-height:30px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;list-style:none}
.lark-list li .layui-badge{margin-right:5px;width:20px;height:20px;line-height:20px;border-radius:5px;padding:0}
.lark-list li .layui-badge .layui-bg-gray{background:#999999}
.lark-list li a{max-width:85%;font-size:14px}
a{color:#333333}
.art-thumb img{width:100%;height:120px}
.art-intro{position:relative}
.art-intro h2{font-size:18px;line-height:35px;height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.art-intro .summary{margin-top:5px;font-size:13px;color:#999999;position:relative;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;line-height:25px;height:50px}
.art-intro .meta{color:#999999;margin-top:10px}
.art-intro .meta a{color:#666666;margin-right:10px}
.art-intro .meta i{margin-right:3px}
.art-intro .meta span{margin-right:10px}
.layui-breadcrumb span[lay-separator]{color:#999 !important}
.art-detail{padding:10px 15px;line-height:24px}
.art-head{padding:10px;border-bottom:1px solid #EEEEEE;margin-bottom:10px}
.art-detail .title{word-break:break-word !important;word-break:break-all;font-family:-apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;font-size:28px;font-weight:700;line-height:1.5}
.art-detail .meta{bottom:0;color:#999999;margin:10px 0 0 0}
.art-detail .meta span{margin-right:15px}
.art-detail .meta i{margin-right:3px}
.art-body{padding:0 10px}
.art-detail .content{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:16px;line-height:2em}
.art-detail .content p{margin:15px 0}
.art-foot{padding:10px;border-top:1px solid #EEEEEE;margin-top:10px;font-size:14px;color:#666666}
.art-foot .meta{margin:0}
.art-detail .meta{bottom:0;color:#999999;margin:10px 0 0 0}
.art-detail .meta span{margin-right:15px}
.page{text-align:center;margin-bottom:20px;margin-top:20px}
.page ul{margin-top:10px;font-size:0}
.page ul li.disabled{color:#d2d2d2}
.page ul li{display:inline-block;margin:0 -1px 0 0;height:28px;border:1px solid #e2e2e2;background-color:#fff;color:#333;font-size:14px;line-height:28px}
.page ul li.active{border:1px solid #009688;background-color:#009688;color:#fff}
.page ul li a,.page ul li span{display:block;padding:0 15px}
.page ul li.disabled{color:#d2d2d2}