html,body,.learn-box{overflow:hidden;height:100%;width:100%}
body{background-color:#191919}
.learn-box{position:relative;top:0;right:0}
.learn-header{height:60px;background:#333638;color:#dde1e3;padding:0 15px;line-height:60px}
.learn-title a{font-size:16px;color:#dde1e3}
.learn-content{position:relative;height:100%;padding-right:342px}
.learn-playroom{background-color:#111;width:100%;height:100%;position:relative}
.learn-right-box{background:#191919;position:absolute;top:0;right:0;bottom:0;width:338px;padding-left:12px}
.btn-slide{background:#292929 none repeat scroll 0 0;border-right:1px solid #323232;display:block;height:100%;left:0;position:absolute;top:0;width:11px;z-index:0}
.l i{left:3px;position:absolute;top:50%;color:#fff;font-style:normal}
.s i{left:-5px;position:absolute;top:50%;color:#fff;font-style:normal}
.learn-r-wrap{position:relative;width:100%}
.layui-tab-title{color:#999}
.layui-tab-title .layui-this:after{left:25%;width:50%}
.learn-seclist-box .layui-colla-title{background-color:#191919;color:#999}
.learn-seclist-box .layui-collapse{border:none}
.learn-seclist-box .layui-colla-content,.layui-colla-item{border:none}
.learn-seclist li{margin-left:20px;line-height:35px;list-style-type:none;font-size:14px}
.learn-seclist li a{color:#999}
.layui-icon{margin-right:10px}
.notes-box-text{height:90px;background:#333638;padding:5px;margin-top:15px;border-radius:6px}
.notes-box textarea{height:80px;width:100%;padding:0;border:0;background:transparent;color:#8f8f8f;font-size:12px;line-height:20px;overflow-y:auto}
.notes-box-btn a{display:inline-block;border:1px solid #b4b4b4;text-align:center;color:#b4b4b4;font-size:14px;padding:0 20px;border-radius:4px;height:28px;line-height:28px}
.btn-del{background-color:#191919;color:#b4b4b4}
.btn-del:hover{border-color:#FF5722;color:#FF5722}
.notes-list-box{border-bottom:1px solid #ccc;min-height:70px;margin-left:10px;margin-bottom:10px;padding-bottom:10px}
.layui-tab-content{overflow-y:auto;overflow-x:hidden;position:relative}
.prism-player .prism-controlbar{background:#191919}
.layui-tab-title{border:none}
.fr{float:right}
.live-player{color:#fff;text-align:center;padding:50px}
.c-999{color:#999}
.c-666{color:#666}
.mt50{margin-top:50px}
.mt30{margin-top:30px}
.mr10{margin-right:10px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mt20{margin-top:20px}
.mt10{margin-top:10px}
.ml20{margin-left:20px}
.mb20{margin-bottom:20px}
.fr{float:right}
.c-999{color:#999}
.c-333{color:#333}
.font-12{font-size:12px}
.tar{text-align:right}
.l-h-30{line-height:30px;height:30px}
.c-studied {color: #009688 !important;}
.vip-join {color:#00c1de;}
.vip_limit_content {display:flex;width:100%;height:100%;flex-wrap:wrap;justify-content:center;align-items:center;}
.vip_limit_content .title {font-size:18px;line-height:36px;color:#fff;text-align:center;width:100%;}
.vip_limit_button_box {text-align:center;white-space:nowrap;overflow:hidden;width:100%;}
.vip_limit_btn {display:inline-block;min-width:100px;position:relative;background:#f60;padding:0 35px;margin:0px 5px 20px 5px;border-radius:38px;font-size:18px;line-height:38px;color:#623A0C;text-align:center;background-image:linear-gradient(-135deg,#FBE8A8 0%,#F8E7AC 15%,#E2C078 100%);cursor:pointer;}
.vip_limit_close {text-align:center;}
.vip_limit_close span {display:inline-block;width:40px;height:40px;line-height:36px;background:rgba(165,165,165,0.54);border-radius:50%;font-size:24px;cursor:pointer;}
.learn-content-box{background:red;}
/*进度条样式*/
::-webkit-scrollbar {width: 2px;height: 9px}
::-webkit-scrollbar-track {background-color: transparent;-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em}
::-webkit-scrollbar-thumb {background-color: #ccc;background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);-webkit-border-radius: 2em;-moz-border-radius: 2em;border-radius: 2em}
.question-seq-wrap {float: left;width: 40px;margin-right: 10px;text-align: center;}
.question-seq {font-size: 20px;color: #3a87ad;}
.question-score {font-size: 12px;color: #aaa;border: 1px solid #ccc;padding: 0 1px;border-radius: 5px;background: #f6f6f6;display: inline-block;}