html,body{overflow-x:hidden}
body .fly-user-main{position:relative;min-height:600px}
.fly-user-main>.layui-nav{position:absolute;left:0;top:0;z-index:1000;height:100%;padding:10px 0}
.fly-user-main>.layui-nav .layui-icon{position:relative;top:3px;font-size:20px;margin-right:20px}
.fly-user-main>.fly-panel{min-height:585px;margin:0 0 10px 215px}
.fly-user-main .fly-none{min-height:0}
.fly-panel-user[pad20]{padding-top:5px}
.personalCTop{width:100%;height:200px}
.personalCTop .center{height:100%}
.center{margin:0px auto;overflow:hidden}
.personalCTop .img{float:left;width:120px;height:120px;border:4px solid rgba(255,255,255,0.4);border-radius:50%;overflow:hidden;margin-top:35px;margin-left:140px}
.personalCTop .img img{width:100%;height:100%;vertical-align:top}
.personalCTop .font{margin:40px 0 0 30px;width:900px}
.content-header{height:50px;border-bottom:2px solid #eee;position:relative}
.content-header .header-item-container{width:auto;height:50px;line-height:50px;position:absolute;top:0;left:0;z-index:999}
.content-header .header-item.active,.content-header .header-item:hover{border-bottom:2px solid #009688}
.content-header .header-item{float:left;padding:0 20px;font-size:16px;cursor:pointer;cursor:-ms-pointer}
.content-header .header-item.active a,.content-header .header-item:hover a{color:#009688}
.fly-home{position:relative;padding:30px 0 30px;text-align:center}
.fly-home img{width:120px;height:120px;border-radius:100%}
.fly-home h1{font-size:26px;line-height:30px;margin-top:10px;margin-bottom:15px}
.fly-home h1 span{font-size:14px;color:#999}
.fly-home h1 .icon-nan{color:#4EBBF9}
.fly-home h1 .icon-nv{color:#009688}
.fly-home-sign{padding:0 10px;color:#999;margin-top:10px}
.fly-home .icon-renzheng{display:inline-block;width:20px;height:20px;line-height:20px;top:45px;left:-15px;background-color:#4b688b;color:#fff;border-radius:50%;font-size:12px}
.fly-home ul{margin:40px auto 0 auto;width:400px;height:90px;text-align:center}
.fly-home ul li{float:left;width:25%;height:90px}
.fly-home ul li i{height:64px;width:64px;border-radius:64px;line-height:64px;display:block;background:#fafafa;font-size:32px;margin:0 auto;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.fly-home ul li p{height:20px;line-height:20px;width:100%;margin-top:5px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.fly-home ul a:hover{color:#000}
.fly-home ul a:hover p{opacity:1;color:#4b688b}
.fly-home ul a:hover i{background:#009688}
.fly-home-info i{padding-right:5px;padding-left:10px;color:#666;position:relative;top:1px}
.fly-home-info span{color:#999}
.fly-home .layui-elem-quote{border-width:0;margin-top:50px;background:#FFFCF4;color:#999}
.layui-bg-white{background:#fff}
.layui-nav.layui-bg-white .layui-nav-item a{color:#333}
.layui-nav-tree.layui-bg-white .layui-this,.layui-nav-tree.layui-bg-white .layui-this>a{color:#fff !important}
.layui-nav-tree.layui-bg-white .layui-nav-bar{background:#009688}
.layui-nav-tree.layui-bg-white .layui-nav-item a:hover{background:#fff;color:#009688 !important}
.fly-panel{margin-bottom:15px;border-radius:2px;background-color:#fff;box-shadow:0 1px 2px 0 rgba(0,0,0,.05)}
.fly-panel[pad20]{padding:10px 20px 10px 20px}
.fly-panel-title{position:relative;height:50px;line-height:50px;padding:0 15px;border-bottom:1px dotted #E9E9E9;color:#333;border-radius:2px 2px 0 0;font-size:17px}
.fly-panel-title span{font-size:12px;float:right}
.fly-panel-title span i{font-size:12px}
.fly-panel-main{padding:10px 15px}
.mycourse{border-bottom:1px solid #e7e7e7}
.mycourse:hover{background:#F0F0F0}
.mycourse-left{padding:20px 40px 20px 10px}
.mycourse-pic{height:95px}
.mycourse-pic img{width:100%;height:100%}
.circle{width:80px;height:80px;position:absolute;border-radius:50%;background:#0cc;top:30px;left:30px}
.pie_left,.pie_right{width:80px;height:80px;position:absolute;top:0;left:0}
.left,.right{width:80px;height:80px;background:#00aacc;border-radius:50%;position:absolute;top:0;left:0}
.pie_right,.right{clip:rect(0,auto,auto,40px)}
.pie_left,.left{clip:rect(0,40px,auto,0)}
.mask{width:60px;height:60px;border-radius:50%;left:10px;top:10px;background:#FFF;position:absolute;text-align:center;line-height:60px;font-size:16px;font-weight:bold;color:#00aacc}
.teacher_Banner{height:200px;overflow:hidden}
.teacher_Banner_Img{position:absolute;z-index:-1;overflow:hidden;height:200px;width:100%}
.teacher_Banner_Mask{width:100%;height:200px;background:rgba(0,0,0,0.4);position:absolute;z-index:1}
.teacher_Banner_Img img{width:110%;margin-left:-5%;margin-top:-2%;height:120%;overflow:hidden;-webkit-filter:blur(60px);-moz-filter:blur(60px);-ms-filter:blur(60px);filter:blur(60px)}
.jianjie{min-height:200px}