{extend name="public/base"/}
{block name="body"}
<h1 class="text-center">完成</h1>
<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.yxtcms.cn" target="_blank">易校通网校系统官网</a></li>
			<li class="list-group-item"><a href="" target="_blank">当前版本1.0.2</a></li>
			<li class="list-group-item"><a href="http://wpa.qq.com/msgrd?v=3&uin=378146005&site=qq&menu=yes" target="_blank">QQ客服</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="http://www.yxtcms.cn" target="_blank">使用文档</a></li>
			<li class="list-group-item"><a href="http://bbs.yxtcms.cn" target="_blank">易校通讨论社区</a></li>
			<li class="list-group-item"><a href="https://jq.qq.com/?_wv=1027&k=5Ddg9Vl" target="_blank">使用交流群</a></li>
		</ul>
	</div>
</div>
{/block}
{block name="footer"}
<div class="text-center">
    <a class="btn btn-primary" target="_blank" href="{:url('/admin')}">登录后台</a>
    <a class="btn btn-success" target="_blank" href="{:url('/')}">访问首页</a>
</div>
{/block}