{extend name="iframe" /}
{block name="body"}
<form action="{:request()->url()}" class="layui-form mt50 mr50" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">网站名称</label>
        <div class="layui-input-block">
            <input type="text" name="appname" lay-verify="required" autocomplete="off" placeholder="请输入网站名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item mt50">
        <div class="layui-input-block">
            <button class="layui-btn" lay-filter="i" lay-submit="">提交</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </div>
</form>
{/block}