{extend name="base" /}
{block name="css"}
<style type="text/css">
    html {
        background-color: #F2F2F2;
    }
    .layui-form-item .layui-input-inline{width: 310px;}
    .layui-form-item .layui-input-inline2{float: left;width: 190px;margin-right: 10px;}
    .cooperate-box{height:820px;}
</style>
{/block}
{block name="body"}
<div class="layui-container mb20 mt20">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="order-nav">
                <div class="on">提交资料 <b></b></div>
                <div><span></span><b></b>等待审核</div>
                <div><span></span>发布课程</div>
            </div>
        </div>
    </div>
    <div class="layui-row ">
        <div class="layui-col-md8 bg-fff pd20 cooperate-box">
            <form action="{:request()->url()}" class="layui-form mt20" method="post">
                <div class="layui-form-item ">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username"   lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                        <input type="hidden" name="__token__" value="{$Request.token}" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写真实姓名，需与身份证一致</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mobile"   lay-verify="required|phone" placeholder="请输入常用手机号" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写常用的手机号码，以便联系</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="保密" title="保密" checked>
                        <input type="radio" name="sex" value="男" title="男">
                        <input type="radio" name="sex" value="女" title="女" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">出生年月</label>
                    <div class="layui-input-inline2">
                        <select name="birth_y" lay-verify="required">
                            <option value="">年</option>
                            {foreach name="y" item="vo"}
                            <option value="{$vo}" selected="">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="layui-input-inline2">
                        <select name="birth_m" lay-verify="required">
                            <option value="">月</option>
                            {foreach name="m" item="vo"}
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="layui-input-inline2">
                        <select name="birth_d" lay-verify="required">
                            <option value="">日</option>
                            {foreach name="d" item="vo"}
                            <option value="{$vo}">{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选择地区</label>
                    <div class="layui-input-inline2">
                        <select name="provid" id="provid" lay-filter="provid" lay-verify="required">
                            <option value="">请选择省</option>
                        </select>
                    </div>
                    <div class="layui-input-inline2">
                        <select name="cityid" id="cityid" lay-filter="cityid" lay-verify="required">
                            <option value="">请选择市</option>
                        </select>
                    </div>
                    <div class="layui-input-inline2">
                        <select name="areaid" id="areaid" lay-filter="areaid" lay-verify="required">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="identity"   lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写您的身份证号码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上传身份证(正面)</label>
                    <div class="layui-input-inline">
                        <input type="text" name="identity_z"   lay-verify="required" placeholder="上传身份证(正面)" autocomplete="off" class="layui-input">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-position ajax-avatar"><i class="fa fa-file-image-o"></i> 选择图片</button>
                    </div>
                    <div class="layui-form-mid layui-word-aux">文件小于2M，支持JPG/PNG/BMP等格式</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上传身份证(反面)</label>
                    <div class="layui-input-inline">
                        <input type="text" name="identity_f"   lay-verify="required" placeholder="上传身份证(反面)" autocomplete="off" class="layui-input">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-position ajax-avatar"><i class="fa fa-file-image-o"></i> 选择图片</button>
                    </div>
                    <div class="layui-form-mid layui-word-aux">文件小于2M，支持JPG/PNG/BMP等格式</div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">个人简介</label>
                    <div class="layui-input-block">
                        <textarea name="brief" placeholder="可以填写如下内容方便我们了解：
1.您目前所从事的工作或职务，获得哪些专业认可；
2.您曾参与过的项目或获得荣誉、奖项；
3.是否有授课经验，您的视频课程链接。" lay-verify="required" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验&nbsp;证&nbsp;码<span class="required-item">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="captcha" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="width: 200px;float: left;">
                        <div class="code" id="verify">
                            <div id="verifyCanvas" style="cursor: pointer;height:30px;">
                                <img  src="{:url('admin/index/captcha')}" onclick="this.src='{:url('admin/index/captcha')}?rand='+Math.random()" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="addtime" value="{$addtime}"  class="layui-input">
                        <input type="hidden" name="status" value="0"  class="layui-input">
                        <input type="hidden" name="uid" value="{$uid}"  class="layui-input">
                        <button class="layui-btn" lay-filter="*" lay-submit="">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-md4 bg-fff pd20 cooperate-box">
            <span class="layui-text layui-word-aux ">
                {$ordinance.value}
            </span>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/data.js"></script>
<script src="__JS__/province.js"></script>
{/block}
