{extend name="userbase" /}
{block name="body"}
<div class="fly-panel fly-panel-user" pad20="">
    <div class="content-header mb20">
        <ul class="header-item-container">
            <li class="header-item active"><a href="javascript:;">基本资料</a></li>
        </ul>
    </div>
    <form class="layui-form" action="{:request()->url()}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="account" disabled="undisabled" value="{$userInfo.username|default=''}" placeholder="请输入账号" autocomplete="off" class="layui-input layui-bg-gray layui-disabled">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" {if condition="$userInfo['sex']==0"}checked{/if} name="sex" value="0" title="保密"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>保密</div></div>
                <input type="radio" {if condition="$userInfo['sex']==1"}checked{/if} name="sex" value="1" title="男"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>男</div></div>
                <input type="radio"{if condition="$userInfo['sex']==2"}checked{/if} name="sex" value="2" title="女"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>女</div></div>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">安全口令<span style="color: red;">*</span></label>
            <div class="layui-input-block">
                <input type="text" name="safewords" value="{$userInfo.safewords|default=''}" lay-verify="required" lay-vertype="tips" placeholder="必填，可用于快速找回密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="text" name="mobile" disabled="undisabled"  value="{$userInfo.mobile|default=''}" placeholder="请先绑定手机号" autocomplete="off" class="layui-input layui-disabled">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block">
                <input type="text" name="avatar" value="{$userInfo.avatar|default=''}" autocomplete="off" placeholder="请上传头像" class="layui-input">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-position ajax-avatar"><i class="fa fa-file-image-o"></i> 选择图片</button>
            </div>
        </div>
        <input type="hidden" name="id"  value="{$userInfo.id}">
        <div class="layui-form-item mt50">
            <div class="layui-input-block">
                <button class="layui-btn"  lay-filter="i" lay-submit="">保存修改</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="js"}

{/block}