{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">网页支付</li>
                <li>H5支付</li>
                <li>APP支付</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" >
                    <form action="{:url('admin/config/pay')}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_id</label>
                            <div class="layui-input-block">
                                <input type="text" name="alipay_app_id" value="{$data.alipay_app_id|default=''}" placeholder="请输入app_id" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">private_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="alipay_rsa_private_key" value="{$data.alipay_rsa_private_key|default=''}" placeholder="请输入rsa_private_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">public_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="alipay_public_key" value="{$data.alipay_public_key|default=''}" placeholder="请输入public_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form action="{:url('admin/config/pay')}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_id</label>
                            <div class="layui-input-block">
                                <input type="text" name="h5_alipay_app_id" value="{$data.h5_alipay_app_id|default=''}" placeholder="请输入app_id" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">private_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="h5_alipay_rsa_private_key" value="{$data.h5_alipay_rsa_private_key|default=''}" placeholder="请输入rsa_private_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">public_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="h5_alipay_public_key" value="{$data.h5_alipay_public_key|default=''}" placeholder="请输入public_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form action="{:url('admin/config/pay')}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_id</label>
                            <div class="layui-input-block">
                                <input type="text" name="app_alipay_app_id" value="{$data.app_alipay_app_id|default=''}" placeholder="请输入app_id" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">private_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="app_alipay_rsa_private_key" value="{$data.app_alipay_rsa_private_key|default=''}" placeholder="请输入rsa_private_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">public_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="app_alipay_public_key" value="{$data.app_alipay_public_key|default=''}" placeholder="请输入public_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{/block}