{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">微信扫码登录</li>
                <li>QQ互联登录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form action="{:url('admin/config/thirdLogin',['type'=>'Weixin_Login'])}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_id</label>
                            <div class="layui-input-block">
                                <input type="text" name="weixin_app_id" value="{$weixin_data.weixin_app_id|default=''}" placeholder="请输入app_id" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_secret</label>
                            <div class="layui-input-block">
                                <input type="text" name="weixin_app_secret" value="{$weixin_data.weixin_app_secret|default=''}" placeholder="请输入app_secret" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">
                    <form action="{:url('admin/config/thirdLogin',['type'=>'QQ_Login'])}" class="layui-form" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_id</label>
                            <div class="layui-input-block">
                                <input type="text" name="qq_app_id" value="{$qq_data.qq_app_id|default=''}" placeholder="请输入app_id" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">app_key</label>
                            <div class="layui-input-block">
                                <input type="text" name="qq_app_key" value="{$qq_data.qq_app_key|default=''}" placeholder="请输入app_key" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="i" lay-submit="">保存</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
{/block}