{extend name="iframe" /}
{block name="body"}
<div class="layui-container">
    <div class="layui-row tac font18 layui-word-aux mt10"> {$nowVersion} >>>> {$nextVersion.version} </div>
    <div class="update-progress layui-hide">
        <div class="layui-progress layui-progress-big " lay-filter="progress" lay-showPercent="yes">
            <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
        </div>
    </div>
    <div class="layui-row layui-word-aux update-info mt10">
        {$nextVersion.upinfo}
    </div>
    <div class="update-message layui-word-aux layui-hide mt10 c-studied"></div>
    <div class="update-bottom">
        <button class="layui-btn upbutton" id="upbutton"
                checkUrl="{:url('admin/update/checkEnvironment')}"
                downLoadFile="{:url('admin/update/downLoadFile',['nowversion' => $nowVersion])}"
                execScript="{:url('admin/update/execScript')}"
                delFile="{:url('admin/update/delFile')}"
                clearCache="{:url('admin/update/clearCache')}"
                finish="{:url('admin/update/finish',['version' => $nextVersion.version])}"
                >升级</button>
        <button class="layui-btn  layui-btn-disabled doing layui-hide">升级中...</button>
        <button class="layui-btn  layui-hide finish">升级完成</button>
    </div>
</div>
{/block}
{block name="js"}
<script src="__JS__/upversion.js"></script>
{/block}